* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

html {
   height: 100%;
   scroll-behavior: smooth;
}
body {
	height: 100%;
}
#bg-color{
	background-color: #C5CED3;
}


.hero-image {
	height: 100%;
	background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;


}

.hero-text {
  float: left;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
font-family: 'Cormorant Unicase', serif;
font-size: 50px;

}

.img-circle {
		background-image: url("https://images.pexels.com/photos/413885/pexels-photo-413885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		width: 304px;
		height: 236px ;
		border-radius: 100px;
		position: relative;
		background-size: cover;
}

.main{
	background-image: url("https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	color: black;
	font-family: 'Cormorant', serif;

}
.img-square {
	width: 300px;
	height: 200px;
	border-radius: 5px;
	border: double;
	position: relative;
}

#checkIn-btn{
	top: 80%;
  left: 27%;
  transform: translate(-50%, -50%);
	text-decoration: none;
	 float: left;
  position: relative;
font-family: 'Cormorant Unicase', serif;
}
/*jumbotron with botton*/
#section2 {
	float: none;
	background-image: url("https://images.pexels.com/photos/745760/pexels-photo-745760.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
	background-attachment: fixed;
	position: relative;

}

#section-4 {
  height: 600px;
  background-image: url("https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: ;
  padding: 20px 10px;
  background-color: #6A6C6B;
  text-decoration: none;



}

/* Style the header links */
.header a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  background-opacity: 0.5;
  text-decoration-style: none;
 
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
   color: #fff;
   font-family: 'Cormorant Unicase', serif;


}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: none;
  color: #fff;
  opacity: 0.7;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right ;
}
/*end of landing page*/

/*footer*/
footer {
	padding: 20px;
	font-family: 'Cormorant', serif;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family: 'Cormorant Unicase', serif;

}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
	
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
	font-family: 'Cormorant', serif;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
	font-family: 'Cormorant', serif;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: /*20px 0 12px*/0;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}

.fa {
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: relative;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

 

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px) {
  .header a {
  display: none;
   
  }
  .header-right {
    float: none;
  }
}

.hero-text {
	 text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   }
 #checkIn-btn {
 	  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
@media screen and (max-width: 360px) 
	

/*end of landing page*/
{
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
